/* * {
    border: solid 2px white;
} */

@font-face {
    font-family: "snake";
    src: url("./fonts/ARCADECLASSIC.TTF");
}

* {
    font-family: "snake";
}

html {
    background-color: rgba(255, 0, 0, 0.555);
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 100px;
}

h2 {
    color: white;
    font-size: 50px;
    margin-bottom: 40px;
    margin-top: 50px;
    word-spacing: 5px;
}

p {
    word-spacing: 5px;
}

div {
    word-spacing: 5px;
}

body {
    text-align: center;
}

.flex-container {
    display: flex;
}

.container {
    padding: 15px 300px;
    font-size: 20px;
}

.header-bar {
    padding: 10px;
    justify-content: space-around;
    border-bottom: 5px black solid;
    border-left: 12px black solid;
    border-right: 12px black solid;
    border-top: 12px black solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: black;
    color: white;
    font-size: 40px;
}

.game-board {
    display: grid;
    grid-template-rows: repeat(25, 1fr);
    grid-template-columns: repeat(50, 1fr);
    border: 12px black solid;
    border-bottom: 0;
    background-color: black;
}

.restart {
    margin: 10px;
}

.restart-button {
    cursor: pointer;
}

.bg-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
}

.modal-content {
    width: 500px;
    height: 300px;
    background-color: black;
    border-radius: 30px;
    position: relative;
}

.modal-content h2 {
    margin-top: 60px;
    font-size: 35px;
}

.close {
    position: absolute;
    top: 10px;
    right: 14px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    transform: rotate(45deg);
}

.close:hover {
    transform: scale(1.5) rotate(-45deg);
}

.bg-modal-lost {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.modal-content-lost {
    width: 500px;
    height: 300px;
    background-color: black;
    border-radius: 30px;
    position: relative;
}

.modal-content-lost h2 {
    margin-top: 60px;
    font-size: 35px;
}

.restart-lost-button, .restart-won-button {
    cursor: pointer;
}

.restart-won-button {
    margin-top: 50px;
}

.footer-bar {
    justify-content: space-between;
    border-top: 5px black solid;
    border-left: 12px black solid;
    border-right: 12px black solid;
    border-bottom: 12px black solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: black;
    color: white;
}

.difficulty-selector {
    width: 250px;
    margin-right: 70px;
    margin-left: -50px;
    justify-content: space-between;
}

.difficulty-box {
    margin-top: 15px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 12px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 25px;
}

.difficulty-box:hover {
    transform: scale(1.13);
}

.medium {
    border: red solid 3px;
}

button {
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    word-spacing: 5px;
}

button:hover {
    transform: scale(1.1);
    background-color: white;
    color: black;
}
.current {
    width: 250px;
    justify-content: space-evenly;
}

.highest {
    width: 400px;
    justify-content: space-evenly;
}

#number, #current-number {
    padding-top: 5px;
}

.player-name-input {
    background-color: rgba(20, 20, 20, 1);
    color: white;
    margin-top: 20px;
    height: 40px;
    width: 200px;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 20px;
}

.theme-picker {
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin-right: 20px;
    margin-left: -150px;
}

.theme-block {
    height: 50px;
    width: 100px;
    border: red 2px solid;
    cursor: pointer;
}

.theme-color {
    width: 25px;
}

.first-block .first {
    background-color: red;
}
.first-block .second {
    background-color: darkgreen;
}
.first-block .third {
    background-color: lightblue;
}
.first-block .fourth {
    background-color: cadetblue;
}

.second-block .first {
    background-color: purple;
}
.second-block .second {
    background-color: rgb(4, 0, 255);
}
.second-block .third {
    background-color: rgb(101, 150, 29);
}
.second-block .fourth {
    background-color: rgb(163, 163, 46);
}

.third-block .first {
    background-color: darkred;
}
.third-block .second {
    background-color: yellow;
}
.third-block .third {
    background-color: darkgray;
}
.third-block .fourth {
    background-color: lightgray;
}

.theme-block:hover {
    transform: scale(1.2);
}


.bg-modal-won {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.modal-content-won {
    width: 500px;
    height: 300px;
    background-color: black;
    border-radius: 30px;
    position: relative;
}

.instructions {
    margin-right: -55px;
    margin-top: -5px;
    font-size: 30px;
    cursor: pointer;
}

.instructions:hover {
    transform: scale(1.3);
}

.player-name {
    margin-left: 100px;
}

.bg-modal-instructions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.modal-content-instructions {
    width: 500px;
    height: 300px;
    background-color: black;
    border-radius: 30px;
    position: relative;
}

.instructions-title {
    color: white;
    font-size: 30px;
    margin-top: 15px;
}


.instructions-section {
    margin-left: 30px;
    margin-top: -20px;
    text-align: left;
}

.instructions-element {
    color: white;
    font-size: 20px;
}